.article {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 330px;
    top: 0px;
}
.article__header {
    height: 60px;
    width: 330px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}