.author--card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 220px;
    height: 275px;
    border-radius: 5px;
    margin: 10px 0px 10px;
}
.author--card:hover {
    background-color: #cccccc;
}
.author--profile {
    display: grid;
    grid-template-columns: 250px 530px;
    grid-template-rows: 50px 130px 70px 20px; 
    margin-bottom: 30px;
    background-color: #d8d8d8;
}





.author__cover--card {
    width: 200px;
    height: 200px;
    align-self: center;
    object-fit: cover;
    margin: 5px 0px 10px;
    border-radius: 100px;
    box-sizing: border-box;
}
.author__cover--profile {
    grid-column: 1;
    grid-row: 2 / 4;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    object-fit: cover;
    justify-self: center;
    align-self: center;
}
.author__cover--book-profile {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 10px;
}




.author__name--card {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.author__classify--card {
    display: flex;
    width: 200px;
    max-height: 22px;
    flex-wrap: wrap;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 8px;
}



.author-profile__link {
    align-self: center;
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 2px;
}

.author__ctg--profile {
    grid-column: 2;
    grid-row: 1;
    font-size: 17px;
    align-self: center;
}
.author__title--profile {
    grid-column: 2;
    grid-row: 2;
    font-size: 55px;
    align-self: center;
}
.author__follow--profile {
    grid-column: 2;
    grid-row: 3;
    align-items: center;
}
.author--follow__btn {
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.author--follow__btn:hover {
}