.bookalbum {
    display: flex;
    flex-direction: column;
    position:relative;
    width: 220px;
    height: 275px;
    background-color: #151515;
    border-radius: 7px;
    margin: 10px 0px 10px;
}
.bookalbum__cover {
    position: relative;
    align-self: center;
}

.bookalbum__cover--img { 
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.8;
    margin: 5px 0px 10px;
    border-radius: 7px;
    border-bottom: 8px solid;
    border-color: #d6a931;
    box-sizing: border-box;
}
.bookalbum__cover--design {
    color: #eeeeee;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
}
.bookalbum__record-delete {
    position: absolute;
    background-color: rgba(0,0,0,0);
    color: #151515;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    z-index: 2;
    top: 7px;
    left: 7px;
}
.bookalbum__title {
    width: 200px;
    font-size: 20px;
    color: #dddddd;
    margin-left: 10px;
    margin-bottom: 10px;
}
.bookalbum__contain {
    display: flex;
    width: 200px;
    max-height: 22px;
    flex-wrap: wrap;
    font-size: 11px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.bookalbum__author {
    display: flex;
    width: 200px;
    max-height: 22px;
    flex-wrap: wrap;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 8px;
}
