.book--card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 220px;
    height: 280px;
    border-radius: 7px;
    margin: 10px 0px 10px;
}

.book__cover--card {
    width: 200px;
    height: 200px;
    object-fit: contain;
    align-self: center;
    margin: 7px 0px 8px;
    border-radius: 5px;
}
.book__title--card {
    width: 200px;
    max-height: 36px;
    font-size: 18px;
    font-weight: 600;
    color: #cccccc;
    margin-left: 10px;
    
}
.book__author--card {
    width: 200px;
    max-height: 14px;
    font-size: 14px;
    margin-bottom: 7px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.book--card:hover{
    background-color: #202020;
}





.book--profile {
    display: grid;
    grid-template-columns: 350px 430px;
    grid-template-rows: 50px 200px 100px 80px; 
    background-color: #191919;
}
.book__cover--profile {
    grid-column: 1;
    grid-row: 1 / 4;
    width: 330px;
    height: 330px;
    object-fit: contain;
    align-self: center;
}
.book__ctg--profile {
    grid-column: 2;
    grid-row: 1;
    font-size: 17px;
    align-self: center;
}
.book__title--profile {
    grid-column: 2;
    grid-row: 2;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 10px;
    color: #ffffff;
}


.book__guide {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #191919;
}
.book__read--btn {
    padding: 10px 8px 10px 8px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    background-color: #252525;
}
.book__read--btn:hover {
    background-color: #404040;
}

.book__like--btn {
    align-self: center;
    grid-column: 2;
    grid-row: 4;
}
