/* Chapter header Style Sheet */
.chapter-header {
    display: grid;
    grid-template-columns: 40px 40px 40px 490px 100px 70px;
    grid-template-rows: 40px;
    text-align: start;
    background-color: #c5c5c5;
}
.chapter-header__dropdown {
    grid-column: 1;
    grid-row: 1;
}
.chapter-header__cover {
    grid-column: 2;
    grid-row: 1;
}
.chapter-header__chapter {
    grid-column: 4;
    grid-row: 1;
    align-self: center;
}
.chapter-header__view {
    grid-column: 5;
    grid-row: 1;
    align-self: center;
}
.chapter-header__likes {
    grid-column: 6;
    grid-row: 1;
    align-self: center;
}

/* Chapter top Style Sheet */
.chapter__top-content {
    display: grid;
    grid-template-columns: 40px 50px 520px 100px 70px;
    grid-template-rows: 50px;
    text-align: start;
    align-items: center;
}
.chapter__btn--top {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    color: #666666;
}
.chapter__cover--top {
    grid-column: 2;
    grid-row: 1;
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
.chapter-intro--top {
    grid-column: 3;
    grid-row: 1;
}
.chapter__view--top {
    grid-column: 4;
    grid-row: 1;
}

/* Chapter medium Style Sheet */
.chapter__mid-content {
    display: grid;
    grid-template-columns: 40px 40px 50px 480px 100px 70px;
    grid-template-rows: 50px;
    text-align: start;
    align-items: center;
}
.chapter__btn--mid {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    color: #666666;
}
.chapter__cover--mid {
    grid-column: 3;
    grid-row: 1;
}
.chapter-intro--mid {
    grid-column: 4;
    grid-row: 1;
}
.chapter__view--mid {
    grid-column: 5;
    grid-row: 1;
}


/* Chapter bottom Style Sheet */
.chapter__bot-content {
    display: grid;
    grid-template-columns: 40px 40px 40px 50px 440px 100px 70px;
    grid-template-rows: 50px;
    text-align: start;
    align-items: center;
}
/*
.chapter__btn--bot {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    color: #666666;
}
*/
.chapter__cover--bot {
    grid-column: 4;
    grid-row: 1;
}
.chapter-intro--bot {
    grid-column: 5;
    grid-row: 1;
}
.chapter__view--bot {
    grid-column: 6;
    grid-row: 1;
}



.chapter__title {
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.chapter__title--article {
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.chapter__author {
    margin: 0px 2px 0px 2px;
}
.chapter__author-list {
    color: #777777;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    margin: 6px 0px 2px;
}
.chapter__author:hover {
    color: #000000;
}
.chapter__cover {
    width: 35px;
    height: 35px;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
.chapter4 {
    display: flex;
    align-items: center;
    height: 32px;
}
.chapter4--click {
    display: flex;
    align-items: center;
    height: 32px;
    font-weight: 600;
    color: #ff4040;
}
.chapter__title--article:hover {
    color: #ff4040;
}
.chapter__mid-content--article {
    margin-left: 20px;
}
.chapter__btn-mid--article {
    width: 20px;
}
.chapter__btn-top--article {
    width: 20px;
}
.chapter__bot-content--article {
    margin-left: 60px;
}


.chapter__search {
    width: 330px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #eeeeee;
}
.chapter__search-input {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
    background-position: 5px center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #000000;
    padding: 5px 5px;
    text-indent: 40px;
    font-size: 16px;
    background-color: #eeeeee;
    width: 280px;
    height: 40px;
}