.content-main {
    width: 780px;
    height: auto;
    background-color: #101010;
}
.content {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 20px 60px;
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    line-height: 2;
    box-sizing: border-box;
}
.content-right {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: auto;
    width: 330px;
    align-items: center;
}
.content__img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.chapter-brief {
    font-size: 19px;
    color: #cccccc;
    margin: 20px 10px 20px;

}

.chapter-list {
    counter-reset : numbering;
    list-style-type:none;
} 


.chapter-list .chapter-brief:before{
    counter-increment : numbering; 
    content : counter(numbering);
    padding-right:10px;
}