.container__nav {
    display: flex;
    flex-direction: column;
    height: 92vh;
    width: 330px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background-color: #101010;
    z-index: 3;
}
.container__main {
    height: auto;
    width: 780px;
    background-color: #141414;
}
.container__article {
    display: flex;
    height: 92vh;
    width: 330px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background-color: #101010;
}
