.footer {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    box-sizing: border-box; 
}
.footer__content {
    padding: 10px 15px 10px;
    font-size: 14px;
    font-weight: 400;
}
.footer a:hover {
    text-decoration: underline;
}

.chapter-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 780px;
    height: 50px;
    position: fixed;
    z-index: 3; /* position간 중첩 결정. 높을수록 상위객체 */
    bottom: 0;
    background-color: #101010;
}
.chapter-footer__btn {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    width: 260px;
    justify-content: center;
}
