.main__header {
    display: flex;
    align-items: center;
    width: 780px;
    min-width: 780px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    box-sizing: border-box;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: #dddddd;
}

.main__header--viewer {
    display: flex;
    align-items: center;
    width: 780px;
    min-width: 780px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    box-sizing: border-box;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
}


.main {
    height: auto;
    width: 780px;
    background-color: #dddddd;
}

.main__back-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.main__viewer {
    height: auto;
    width: 780px;
    min-width: 780px;
    padding: 10px 20px 10px 20px;
    word-break: keep-all;
    text-align: justify;
    font-size: 18px;
    line-height: 32px;
}
