.mylibrary__header {
    display: flex;
    width: 780px;
    height: 60px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}
.mylibrary__header--click {
    padding: 10px 8px 10px 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
}
.mylibrary__header--noclick {
    padding: 10px 8px 10px 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 12px;
}