.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
}
.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 330px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
}
.nav__box {
    display: flex;
    align-items: center;
}
.nav__item:first-child {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.nav__item {
    height: 50px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px 20px 20px 10px;
}
.nav__item:hover {
    background-color: #dfdfdf;
}

.nav__text {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #101010;
}
.nav__header {
    display: flex;
    margin-bottom: 5px;
}
.nav__header--viewer {
    display: flex;
}