.profilehome {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 780px;
    padding-bottom: 50px;
    background-color: #101010;
}
.profilehome__header {
    display: grid;
    grid-template-columns: 250px 530px;
    grid-template-rows: 50px 130px 50px 40px; 
    background-color: #151515;
    margin-bottom: 30px;
}

.profilehome__header--cover {
    grid-column: 1;
    grid-row: 2 / 4;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

.profilehome__header--edit {
    grid-column: 1;
    grid-row: 4 / 5;
    font-size: 15px;
    align-self: center;
    justify-self: center;
}

.profilehome__header--ctg {
    grid-row: 1;
    grid-column: 2;
    font-size: 17px;
    align-self: center;
}
.profilehome__header--title {
    grid-column: 2;
    grid-row: 2;
    font-size: 55px;
    align-self: center;
    color: #ffffff;
}
.profilehome__header--following {
    grid-column: 2;
    grid-row: 3;
    font-size: 15px;
    align-self: flex-start;
    color: #bbbbbb;
}

.profilehome__info {
    display: grid;
    grid-template-columns: 350px 430px;
    grid-template-rows: 40px;
    align-items: center;
    margin: 5px 0px 5px;
}

.profilehome__info--title {
    grid-column: 1;
    grid-row: 1;
    font-size: 21px;
    color: #505050;
    padding-left: 20px;
}

.profilehome__info--content {
    grid-column: 2;
    grid-row: 1;
    font-size: 21px;
    color: #aaaaaa;
}