.search__input {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
    background-position: 5px center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #000000;
    padding: 5px 5px;
    text-indent: 40px;
    font-size: 16px;
    background-color: #eeeeee;
    width: 480px;
    height: 40px;
    border-radius: 4px;
}

.search-index__link {
    width: 220px;
    height: 220px;
    position: relative;
    border-radius: 10px;
    margin: 10px 0px 10px;
}
.search-index__link:hover {
    background-color: #cccccc;
}
.search-index__list {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 40px;
    font-weight: 700;
}
.search-index__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
    opacity: 0.75;
    margin: 10px;
}



.search__header {
    display: flex;
    width: 780px;
    height: 60px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}
.search__header--click {
    padding: 10px 8px 10px 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    background-color: #ff4040;
    color: #ffffff;
}
.search__header--noclick {
    padding: 10px 8px 10px 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 12px;
    background-color: #cccccc;
}