.user__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    min-width: 270px;
    height: 100%;
}
.user__link {
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    border-radius: 25px;
    padding-left: 7px;
}
.user__link:hover {
    background-color: #dfdfdf;
}
.user__img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}
.user__name {
    font-size: 15px;
    padding: 15px;
}



.user--profile {
    display: grid;
    grid-template-columns: 250px 530px;
    grid-template-rows: 50px 130px 70px 20px; 
    margin-bottom: 30px;
}
.user__cover--profile {
    grid-column: 1;
    grid-row: 2 / 4;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    object-fit: cover;
    justify-self: center;
    align-self: center;
}
.user__ctg--profile {
    grid-column: 2;
    grid-row: 1;
    font-size: 17px;
    align-self: center;
}
.user__title--profile {
    grid-column: 2;
    grid-row: 2;
    font-size: 55px;
    align-self: center;
}