.welcomeheader {
    display: flex;
    justify-items: space-between;
    width: 1440px;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3; /* position간 중첩 결정. 높을수록 상위객체 */
    top: 0;
    /*background-color: #101010;*/
}
.welcomesite-info {
    display: flex;
    align-items: center;
    width: 330px;
    min-width: 330px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    /*border-right: solid 1px;
    border-color: #909090;*/
    box-sizing: border-box;
}


