.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top: 0;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}
.header__logo {
    display: flex;
    align-items: center;
    width: 270px;
    min-width: 270px;
    height: 100%;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}
.header__logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}
.header__location {
    display: flex;
    align-items: center;
    width: 780px;
    min-width: 780px;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    background-color: #141414;
    /*border: solid 1px;
    border-color: #000000 #000000 #909090 #000000; */
    box-sizing: border-box;
}
.header--mylibrary {
    display: flex;
    width: 780px;
    height: 60px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    color:#eeeeee;
}
.header__user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    min-width: 270px;
    height: 100%;
    /*border-left: solid 1px;
    border-color:#909090;*/
}
.header__option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}
.header__option a {
    border-radius: 50%;
}