@import "reset.css";
@import "header.css";
@import "nav.css";
@import "main.css";
@import "article.css";
@import "section.css";
@import "book.css";
@import "author.css";
@import "logo.css";
@import "search.css";
@import "mylibrary.css";
@import "user.css";
@import "chapter.css";
@font-face {
    font-family: 'Noto Sans KR';
    src:url('./fonts/NotoSansKR-Thin.woff') format('woff'),
        url('./fonts/NotoSansKR-Light.woff') format('woff'),
        url('./fonts/NotoSansKR-Regular.woff') format('woff'),
        url('./fonts/NotoSansKR-Medium.woff') format('woff'),
        url('./fonts/NotoSansKR-Bold.woff') format('woff'),
        url('./fonts/NotoSansKR-Black.woff') format('woff');
}
.main {
    height: auto;
    width: 780px;
    background-color: #141414;
}
.article {
    display: flex;
    height: 92vh;
    width: 330px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}
.back {
    margin-right: 10px;
}
