.user__link {
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    border-radius: 25px;
    padding-left: 7px;
}
.user__link:hover {
    background-color: #202020;
}
.user__img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}
.user__name {
    font-size: 15px;
    padding: 15px;
    color: #eeeeee
}